/* CUSTOM */
section#sec6 div.sec6-left-side {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

section#sec6 div.sec6-right-side {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

section#sec6 div.sec6-left-side img {
    height: auto;
    width: 60%;
    position: absolute;
    top: 26%;
}

div.sec6-right-side h6 {
    font-size: 25px;
    margin: 5px;
    text-align: center;
    color: #0f4947;
}

section#sec6 div.sec6-right-side div.hHolders {
    width: 80%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    z-index: 2;
    border-bottom: 2px solid #5d8d8b;
    margin-bottom: 10px;
}

div.hHolders p {
    color: #063B39;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    margin: 0px 15px 0 0;
    padding: 5px 0;
}

div.hHolders p#element47 {
    border-bottom: 4px solid white;
}

section#sec6 div.sec6-right-side div.pHolder {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 25px;
    padding: 5px 10px;
}

section#sec6 div.sec6-right-side div.pHolder p {
    font-size: 18px;
    color: #000000;
}

section#sec6 div.sec6-right-side div.pHolder p.part2 {
    display: none;
}
