/* For PC version */
* {
  box-sizing: border-box;
  border: solid red 2px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll; 
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

nav {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  column-gap: 40px;
  height: 60px;
  width: 100vw;
  padding: 0 25px;
  z-index: 10;
  background-color: aqua;
}
nav img{
  height: 110%;
  scale: 1.2;
  position: absolute;
  left: 25px;
}

div.hamburger-icon, i.fa-globe{
  font-size: 24px;
  cursor: pointer;
}


section.holder {
  position: relative;
  top: 60px;
  background-color: rgb(3, 70, 70);
  height: auto;
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  z-index: 1;
}

section[class^="sec"] {
  height: 100vh;
  scroll-snap-align: start;
}

section.sec1 {
  background-color: antiquewhite;
}

section.sec2 {
  background-color: rgb(165, 97, 8);
}

section.sec3 {
  background-color: #2ecc71;
}

section.sec4 {
  background-color: #3498db;
}

section.sec5 {
  background-color: #f1c40f;
}

section.sec6 {
  background-color: #e74c3c;
}
/* ASIDE */
aside.side-menu {
  position: fixed;
  top: 60px;
  right: -1000px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 35vw;
  padding: 25px;
  transition: right 0.5s;
  z-index: 2;
  background-color: rgb(0, 132, 255);
}
li.aside-main-li {
  margin-bottom: 25px; 
  list-style-type: none;
}
li.aside-main-li ul li{
  margin: 10px 0;
}
li.aside-main-li ul li{
  list-style-type: disc;
}
ul.aside-ul li a,
ul.aside-ul li ul li a,
li.aside-main-li i{
  text-decoration:none;
  color: rgb(95, 83, 83);
  font-size: 25px;
}

ul.abt_small_secntion,
ul.cerf_small_secntio{
  display: none;
}
ul.abt_small_secntion li a:hover,
ul.cerf_small_secntion li a:hover{
  text-decoration:underline;
  color: azure;
}

/* FOOTER */
footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100vw;
  background-color: chartreuse;
}
