* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #063B39;
}

div.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: black;
    transform: translate(-50%, -50%);
}

div.loader svg {
    width: auto;
    height: 500px;
}

nav {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    column-gap: 40px;
    height: 60px;
    width: 100vw;
    padding: 0 30px;
    z-index: 10;
    background-color: #063B39;
    color: white;
    transition: background-color 0.5s ease;
}

nav.transparent {
    background-color: transparent;
}

div#blackOverlay {
    display: none;
    position: absolute;
    height: 600vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 3;
    transition: opacity 0.3s ease;
}

nav img {
    position: absolute;
    display: block;
    left: 25px;
    height: 80%;
    transform: scale(1.2);
}

nav img.hidden {
    display: none;
}

div.hamburger-icon,
i.fa-globe {
    font-size: 24px;
    cursor: pointer;
}

section.holder {
    position: relative;
    top: 60px;
    background-color: rgb(3, 70, 70);
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    z-index: 1;
    overflow: hidden;
}

/* ASIDE */
aside.side-menu {
    position: fixed;
    top: 60px;
    right: -1000px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    height: 94vh;
    width: 260px;
    padding: 30px 15px 15px 20px;
    transition: right 0.5s;
    z-index: 4;
    background-color: #416962;
}

aside.side-menu p {
    position: relative;
    bottom: 20px;
    color: #063B39;
    font-size: 12px;
}

i.dot {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: bolder;
    padding-right: 10px;
}

li.aside-main-li {
    margin-bottom: 25px;
    list-style-type: none;
}

li.aside-main-li ul li {
    margin: 10px 0;
    list-style-type: none;
}

ul.aside-ul {
    padding: 0px;
}

ul.aside-ul li a,
ul.aside-ul li ul li,
li.aside-main-li span i {
    text-decoration: none;
    color: #c7f8b4;
    font-size: 23px;
}

li.aside-main-li span {
    display: flex;
}

ul.abt_small_secntion,
ul.cerf_small_secntion {
    padding-left: 0px;
}

ul.abt_small_secntion li,
ul.cerf_small_secntion li {
    display: flex;
    font-size: 20px;
}

ul.abt_small_secntion li a:hover,
ul.cerf_small_secntion li a:hover {
    text-decoration: underline;
    color: azure;
}

/* Sec 3/4/5 */
#sec3,
#sec4,
#sec5,
#sec6 {
    background: rgb(6, 59, 57);
    background: -webkit-linear-gradient(0deg, rgba(6, 59, 57, 1) 0%, rgba(138, 255, 251, 1) 100%);
    background: linear-gradient(0deg, rgba(6, 59, 57, 1) 0%, rgba(138, 255, 251, 1) 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title-box {
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    height: 250px;
    z-index: 1;
}

.title-box img {
    height: 100%;
}

.title-box h5 {
    text-align: center;
    position: absolute;
    color: white;
    font-size: 40px;
    z-index: 2;
    margin-left: 20px;
    width: 290px;
}

.bottom-part {
    position: relative;
    top: -140px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

.sec3-left-side,
.sec4-left-side,
.sec5-left-side,
.sec6-left-side {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 50px;
}

.sec3-right-side,
.sec4-right-side,
.sec5-right-side,
.sec6-right-side {
    height: 100%;
    width: 50%;
    margin: 0 50px;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: #082b29;
}

footer p {
    color: #ffffff;
    font-weight: bold;
    margin: 20px 25px;
    font-size: 14px;
}

div.scrollup_btn {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 50%;
}

div.scrollup_btn a i.fa-chevron-up {
    font-size: 25px;
    padding: 15px;
    color: black;
}


/* Contact */
section.contact-sec {
    background: rgb(6, 59, 57);
    background: -webkit-linear-gradient(0deg, rgba(6, 59, 57, 1) 0%, rgba(138, 255, 251, 1) 100%);
    background: linear-gradient(0deg, rgba(6, 59, 57, 1) 0%, rgba(138, 255, 251, 1) 100%);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    height: calc(100vh - 60px);
}

div.top {
    display: flex;
    justify-content: center;
    height: 10%;
}
div.top h1{
    font-size: 50px;
    color: #0c2c2b;
}

section.contact-sec main {
    display: flex;
    flex-direction: row;
    height: 90%;
}

div.contact-left,
div.contact-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

form img {
    margin: 20px 25px;
    width: 450px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
}

form div.form-bottom {
    display: flex;
    flex-direction: column;
    height: 225px;
    margin: 0px 25px 20px 25px;
}

div.form-bottom p {
    color: #8DFF61;
    font-size: 25px;
}
div.form-bottom p:hover{
    text-decoration: underline;
    color: #ffffff;
    
}

div.contact-right img {
    width: 600px;
}