/* CUSTOM */
section#sec4 div.bottom-part{
    height: 500px;
}
section#sec4 div.sec4-left-side{
    justify-content: end;
    padding: 0 0 25px 50px;
}
section#sec4 div.sec4-right-side{
    display: flex;
    justify-content: center;
    align-items: center;
}
div.sec4-right-side img{
    height: 500px;
    width: 60%;
    border-radius: 25px;
    object-fit: cover;
    margin: 50px 0 50px 0;
    filter: saturate(150%);
}
section#sec4 div.sec4-left-side h6{
    font-size: 30px;
    margin:0 0 15px;
    color: #063B39;
}
section#sec4 div.sec4-left-side p{
    margin-top: 0px;
    font-size: 20px;
    color: black;
}