section#sec5 div.sec5-left-side {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section#sec5 div.sec5-right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

section#sec5 div.sec5-left-side img {
    height: auto;
    width: 60%;
}

section#sec5 div.sec5-right-side div.hHolders {
    width: 80%;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
    z-index: 2;
    border-bottom: 2px solid #5d8d8b;
}

div.hHolders p {
    color: #063B39;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-right: 15px;
}

div.hHolders p#element31 {
    border-bottom: 5px solid white;
}

section#sec5 div.sec5-right-side div.pHolder {
    margin-top: 25px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 25px;
    padding: 15px;
}

div.pHolder p {
    color: black;
    font-size: 20px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-animation: fadeInOut 0.5s ease forwards;
    animation: fadeInOut 0.5s ease forwards;
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.pHolder p.vision,
div.pHolder p.competition,
div.pHolder p.twenty {
    display: none;
    opacity: 0;
}
