section.sec1{
    background: rgb(6,59,57);
    background: linear-gradient(18deg, rgba(6,59,57,1) 0%, rgba(138,255,251,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
section.sec1 div.leftSide{
    height: 100%;
    width: 50%;
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    color: white;
}
section.sec1 div.rightSide{
    height: 100%;
    width: 40%;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    color: white;

}

div.rightSide img{
    height: 400px;
    width: 300px;
    object-fit: cover;
    border-radius: 25px;
}
div.leftSide img{
    height: 150px;
    width: 220px;
}
div.leftSide p{
    font-size: 20px;
    margin: 30px 0 0 0;
}
div.leftSide h1{
    font-size:  58px;
    margin: 0px;
    width: 200px;
}



