
section#sec3 div.sec3-left-side img.map1 {
    position: absolute;
    top: 100px;
    right: 140px;
    z-index: 1;
    height: 226px;
    width: 372px;
    object-fit: fill;
}

section#sec3 div.sec3-left-side img.map2 {
    height: 340px;
    width: 450px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    position: relative;
    left: 50px;
    top: 200px;
    object-fit: cover;
    -webkit-box-shadow: 21px 11px 32px -3px rgb(49, 49, 49);
    box-shadow: 21px 11px 32px -3px rgb(49, 49, 49);
}

div.sec3-right-side {
    background-color: rgba(255, 255, 255, 0.37);
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 0px 25px;
}

div.sec3-right-side h6 {
    font-size: 25px;
    width: 250px;
    margin: 25px 0;
    color: #063B39;
}

div.sec3-right-side p {
    width: 90%;
    color: black;
    font-size: 20px;
}
