/* CUSTOM */
section#sec5 div.sec5-left-side{
    justify-content: center;
    align-items: center;

}
section#sec5 div.sec5-right-side {
    display: flex;
    flex-direction: column;
}
section#sec5 div.sec5-left-side img{
    height: 348px;
    width: 477px;
}

section#sec5 div.sec5-right-side div.hHolders {
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    z-index: 2;
    border-bottom: 2px solid #5d8d8b;
}

div.hHolders p {
    color: #063B39;
    font-size: 22px;
    margin-bottom:10px;
    font-weight: bold;
}
div.hHolders p#element31{
    border-bottom: 5px solid white;
}

section#sec5 div.sec5-right-side div.pHolder {
    margin-top: 25px;
    width: 80%;
}

div.pHolder p {
    color: black;
    font-size: 20px;
    opacity: 1;
    transition: opacity 0.3s ease;
    animation: fadeInOut 0.5s ease forwards; 
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

div.pHolder p.vision,
div.pHolder p.competition,
div.pHolder p.twenty {
    display: none;
    opacity: 0;
}