section.sec3 {
    background: rgb(6, 59, 57);
    background: linear-gradient(308deg, rgba(6, 59, 57, 1) 0%, rgba(138, 255, 251, 1) 100%);
    display: flex;
    flex-direction: column;
    height: 100vh; /* if remove the height */
}
section.sec3 div.title-box{
    position: absolute;
    display: flex;
    align-items: center;
    height: 220px;
    z-index: 1;
}
div.title-box h5{
    position: absolute;
    color: white;
    font-size: 45px;
    z-index: 2;
    margin-left: 45px;
    width: 180px;
}
section.sec3 div.bottom-part{
    position: relative;
    top: 40px;
    width: 100vw;
    height: 616px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.left-side{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
div.left-side img.map1{
    position: absolute;
    top: 100px;
    right: 140px;
    z-index: 1;
    height: 226px;
    width: 372px;
    object-fit: fill;
    

}
div.left-side img.map2{
    height: 340px;
    width: 450px;
    border-radius: 25px;
    position: relative;
    left: 50px;
    top: 200px;
    object-fit: contain;
    box-shadow: 21px 11px 32px -3px rgb(49, 49, 49);
}
article.right-side{
    height: 100%;
    width: 50%;
}
article.right-side h6{
    font-size: 25px;
    width: 250px;
    margin: 50px 0 25px;
    color: #063B39;

}
article.right-side p{
    width: 600px;
    color: black;
    font-size: 20px;
}
