@media (max-width: 600px) {
    section.holder header {
        flex-direction: row;
    }
    
    section.holder header div.leftSide {
        padding: 0;
        order: 1;
        justify-content: center;
    }
    
    section.holder header div.leftSide img {
        height: 111px;
        width: 170px;
        display: none;
    }
    
    section.holder header div.leftSide p {
        font-size: 13px;
    }
    
    section.holder header div.leftSide h1 {
        font-size: 40px;
        padding-top: 5px;
    }
    
    section.holder header div.rightSide {
        align-items: center;
        padding: 0;
        order: 2;
    }
    
    section.holder header div.rightSide img {
        height: 200px;
        border-radius: 30% 70% 70% 30% / 30% 49% 51% 70%;
    }
}