@media (max-width: 600px) {
    section.holder section#sec5{
        position: relative;
        height: auto;
        padding-bottom: 20px;
    }
    section.holder section#sec5 div.title-box {
        position: relative;
        height: 110px;
    }
    section.holder section#sec5 div.title-box img{
        height: 120px;
    }
     section.holder section#sec5 div.title-box h5{
        font-size: 25px;
        margin-left: 10px;
        width: 150px;
    }
    section.holder section#sec5 div.bottom-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        top: -20px;
    }
    section.holder section#sec5 div.bottom-part div.sec5-left-side{
        position: relative;
        align-items: end;
        padding: 0 0 20px 15px;
        height: 110px;
        width: 100%;
    }
    section.holder section#sec5 div.bottom-part div.sec5-left-side img{
        position: absolute;
        top: -20px;
        height: 120px;
        width: auto;
        object-fit:fill;
        padding-right: 15px;
    }
    section.holder section#sec5 div.bottom-part div.sec5-right-side{
        width: 100vw;
        padding: 0 5px;
    }
    section.holder section#sec5 div.bottom-part div.sec5-right-side div.hHolders{
        width: 100%;
        justify-content: space-around;
    }
    section.holder section#sec5 div.bottom-part div.sec5-right-side div.hHolders p{
        font-size: 15px;
    }
    section.holder section#sec5 div.bottom-part div.sec5-right-side div.pHolder{
       margin: 15px 0 0 25px;
       background-color: rgb(255, 255, 255, 0.19);
       width: 88%;
    }
    section.holder section#sec5 div.bottom-part div.sec5-right-side div.pHolder p{
        font-size: 17px;
    }

}