/* For mobile devices */
@media (max-width: 600px) {
    ul.aside-ul li a,
    ul.aside-ul li ul li a,
    li.aside-main-li i{
      text-decoration:none;
      color: rgb(255, 255, 255);
      font-size: 10px;
    }
    ul.aside-ul {
        padding-left: 0px;
        
    }
}