/* For mobile devices */
@media (max-width: 600px) {
  body aside.side-menu {
    width: 160px;
    padding: 30px 15px 15px 15px;
  }

  ul.aside-ul {
    padding-left: 0px;
  }

  ul.aside-ul li.aside-main-li a,
  li.aside-main-li i.fa-sort-down,
  ul.abt_small_secntion li a {
    font-size: 20px;
  }
}
